.Card {
}

.withoutPaddings {
    padding: 0;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.outlined {
    border: 1px solid var(--accent-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.max {
    width: 100%;
}

.round {
    border-radius: 40px;
}

.normal {
    border-radius: 12px;
}

.partial {
    border-radius: 20px;
}

.gap_0 {
    padding: 0;
}

.gap_8 {
    padding: 8px;
}

.gap_16 {
    padding: 16px;
}

.gap_24 {
    padding: 24px;
}
