.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    border: 2px solid var(--icon-redesigned);
    padding: 8px 16px;
    height: 32px;
    width: 100%;
}

.focused {
    border: 2px solid var(--accent-redesigned);

    .addonLeft svg, .addonRight svg {
        color: var(--accent-redesigned);
    }
}

.addonLeft, .addonRight {
    display: flex;
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}

.input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--hint-redesigned);
    }
}

.readonly {
    opacity: 0.7;
}
